<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">MyHospital</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta et quidem accusamus nemo obcaecati est
                odio itaque voluptate? Commodi molestias veritatis dicta, iste saepe quos laboriosam sit. Cupiditate,
                dolorem voluptatum.
            </p>
        </section>
    </main>
    {% endblock %}


</body>


</html>